<% include ./partials/header %>
<div class="ui main text">
	<div class="ui huge header">Edit Blog</div>
	<form class="ui form" action="/blogs/<%=blogs._id%>?_method=PUT" method="POST">
		<div class="field">
			<label>title</label>
			<input type="text" name="title" value="<%=blogs.title%>">
		</div>
		<div class="field">
			<label>image</label>
			<input type="text" name="image" value="<%=blogs.image%>">
		</div>
		<input type="text" name="body" value="<%=blogs.body%>">
		<input type="submit">
